# ===== Common =====
jupyter
pandas
matplotlib
seaborn
scikit-learn
scipy
cython
ultralytics
shap
statsmodels
tqdm
ipywidgets
opencv-python
pillow
torchvision
torch

# ===== RL =====
stable-baselines3
sb3-contrib
gymnasium

# ===== Simulation / CoppeliaSim =====
pygame-ce
pyzmq
cbor
coppeliasim-zmqremoteapi-client
